!!! 5
%html
  %head
    %title= @resume.title || '[title]'
    %link(rel='stylesheet' type='text/css' href='style.css')
  %body
    %article
      %header
        %h1= @resume.name || '[name]'
        - if @resume.street
          %p= @resume.street
        %p= (@resume.city || '[city]')+', '+(@resume.state || '[state]')
        %p
          - (@resume.email||'[email]').tap do |email|
            %a(href="mailto:#{email}")= email
        - if @resume.github_link
          %p
            %a{:href=>@resume.github_link}= @resume.github_link
      - @resume.misc_sections.each do |heading, lis|
        %section.topic
          %h2= heading
          %ul
            - lis.each do |li|
              %li= li
      %section.topic
        %h2 Employment History
        - @resume.jobs.each do |position, date, company, description|
          %section
            %hgroup
              %h3= "#{date} - #{position}"
              %h4= company
            %ul
              - [description].flatten.each do |desc|
                %li= desc
      %section.topic
        %h2 Education
        - @resume.schools.each do |degree, date, school|
          %section
            %h3= "#{degree}, #{date}"
            = school
      %footer
        - @resume.footer_links.each do |url, description|
          %p
            %a{:href=>url}= url
            =" - #{description}"
