!!! 5
%html
  %head
    %title= @title || '[title]'
    %link(rel='stylesheet' type='text/css' href='style.css')
  %body
    %article
      %header
        %h1= @name || '[name]'
        - if @street
          %p= @street
        %p= (@city || '[city]')+', '+(@state || '[state]')
        %p
          - (@email||'[email]').tap do |email|
            %a(href="mailto:#{email}")= email
        - if @github_link
          %p
            %a(href=@github_link)= @github_link
      - @misc_sections.each do |heading, content|
        %section
          %h2= heading
          %p= content
      %section
        %h2 Employment History
        - @jobs.each do |position, date, company, description|
          %section
            %hgroup
              %h3= "#{date} - #{position}"
              %h4= company
            = description
      %section
        %h2 Education
        - @schools.each do |degree, date, school|
          %section
            %h3= "#{degree}, #{date}"
            = school
      %footer
        - @footer_links.each do |url, description|
          %p
            %a{:href=>url}= url
            =" - #{description}"